body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkgray;
}

.container {
    width: 890px;
    background-color: azure;
    margin: 0 auto;
    height: 100vh;
}

.header {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    
}

li {
    padding: 0 10px;
    list-style-type: none;
}
a {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}